@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #FFFFFF;
  --black: #000000;
  --very-light-pink: #C7C7C7;
  --text-input-field: #F5F3EE;
  --hospital-green: #5FA86C;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

/* config icono google fonts */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
